.gradle/
build/
app/build/
.idea/
*.iml
local.properties
.kotlin/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.keystore

# Noise
.DS_Store
*.log
*.jpeg
*.jpg
*.png
ss.jpeg
screenshot/

# Signing
*.keystore
cheminee.keystore
